* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d8d1ad;
background-image: linear-gradient(180deg, #d8d2b4 25%,  #dfdbbd 100%);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
  /* background: #f1f2b5 !important;
  background: -webkit-linear-gradient(to right, #135058, #f1f2b5) !important;
  background: linear-gradient(to right, #135058, #f1f2b5) !important; */
}

.header{

  background-color: #aaa889;

}


.main {
  background: url(./assets/shopping5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: .8;
  object-fit: cover;
  min-height: calc(100vh - 60px);
  position: relative;
  > div {
    text-align: center;
    color: #cc0606;
    position: absolute;
  
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    .main-buttons {
      margin-top: 1rem;
    }
  }

  h1{

    font-size: 3.2rem;
    font-weight: 700;
  }
}
.nav-link {
  color: rgb(26, 25, 25) !important;
 
  &:hover {
    color: red !important;
  }
}
.active {
  text-decoration: underline !important;
  color: red !important;
}

.card {
  border: none;

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f1f2b5;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #ad2121;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #135058;
  font-size: 19px;
}

.main-buttons button:nth-child(1) {
  border: 1px solid white !important;
  background-color: white;
  color: #cc0606;
  height: 40px;
}
.main-buttons button:nth-child(1):hover {
  border: 1px solid #cc0606 !important;
  color: #fff;
  height: 40px;
  background-color: #cc0606;
}

.buttons button:nth-child(1) {
  border: 1px solid #cc0606 !important;
  color: #135058;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #cc0606 !important;
  height: 40px;
  background-color: #cc0606;
  & a {
    color: #fff !important;
  }
}

.buttons button:nth-child(2) {
  border: 1px solid #cc0606!important;
  background-color: #cc0606;
  color: #fff;
  height: 40px;
}

.main-buttons button:nth-child(2) {
  border: 1px solid #cc0606 !important;
  background-color: #cc0606;
  color: #fff;
  height: 40px;
}


.form {

  border:2px solid #6b6a5c;
  width: 50%;
  margin : auto;
  box-shadow: 3px 3px 3px ;
  padding: 2rem;
}

.cartimg{

  width: 100px;
  padding-left: 1rem;
}

.nodata{
 font-size: 2rem;
  padding-top: 7rem;
}